

.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.btn-box {
  position: relative;
  top: 40%;
  left: 40%;
  background-color: black;

  background-size: cover;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button {
  width: 120px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}
